* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
    border: 1PX SOLID gainsboro;
    width: 22%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 300PX;
  }
}
